<router-outlet></router-outlet>
<!-- <app-createusers></app-createusers> -->
<!-- <app-sidebar></app-sidebar>
<app-topbar></app-topbar> -->
<!-- <app-card11></app-card11> -->
<!-- <app-login></app-login> -->
<!-- <app-hrprofile></app-hrprofile> -->
<!-- <app-education></app-education> -->
<!-- <app-achievement></app-achievement> -->
<!-- <app-skills></app-skills> -->
<!-- <app-achievement></app-achievement> -->
<!-- <app-viewprofile></app-viewprofile> -->
<!-- <app-personal></app-personal> -->
<!-- <app-language></app-language> -->
<!-- <app-languageandsocial></app-languageandsocial> -->
<!-- <app-project></app-project> -->

<!-- <button (click)="download()">Download</button> -->
<!-- <app-editpersonal></app-editpersonal> -->
<!-- <app-editoriginalpersonal></app-editoriginalpersonal> -->