<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
  <form action="#" class="form form-border">

    <div class="progressbar">
      <div class="progress" id="progress"></div>

      <div [routerLink]="['/personal']" class="progress-step " data-title="Personal"></div>
            <div [routerLink]="['/languagesocial']" class="progress-step " data-title="Language & SocialMedia"></div>
            <div [routerLink]="['/education']" class="progress-step progress-step-active " data-title="Education"></div>
            <div [routerLink]="['/project']" class="progress-step " data-title="Project"></div>
            <div [routerLink]="['/skill']" class="progress-step " data-title="Skills"></div>
            <div [routerLink]="['/achievement']" class="progress-step " data-title="Achievements"></div>
    </div>

    <div class="form-step form-step-active">
      <h3>Education Details 
      
      <div class="tooltip1"> 

      <button class="plus" (click)="toogletag()"  > + </button>
      <span class="tooltip1text">Click here to add educational details</span>
      </div>
    </h3>
      <!-- <button (click)="toogletag()" (click)="footer()" > + </button> -->
      <div *ngIf="showMe" >
      <div class="input-group">
        <label for="degree">Degree</label>
        <input type="text" name="degree" id="degree" placeholder="Enter your degree" [(ngModel)]="user.degree"
          required />
      </div>
      <br>
      <div class="input-group">
        <label for="course">Course</label>
        <input type="text" name="course" id="course" placeholder="Enter your course" [(ngModel)]="user.course"
          required />
      </div>
      <br>
      <div class="input-group">
        <label for="College">College</label>
        <select id="college" name="college" [(ngModel)]="user.collegeId" required>
          <option value="0">Select college/University</option>
          <option *ngFor="let item of collegeValue" value={{item.collegeId}}>{{item.collegeName}}</option>
        </select>
      </div>
      <br>
      <table>
        <tr>
          <!-- <div class="input-group"> -->
          <td>
            <label for="personaldetails">Duration</label>
          </td>
          <!-- </div> -->
        </tr>
      </table>
      <!-- <div class="input-group"> -->
      <label for="personaldetails">From</label>
      <select name="starting" [(ngModel)]="user.starting" required="">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>

      <br>

      <!-- <input type="date" name="from" id="personaldetails"  [(ngModel)]="user.starting_Year" required /> -->
      <!-- </div> -->
      <div class="input-group">
        <label for="personaldetails">To</label>
        <!-- <input type="date" name="to" id="personaldetails"  [(ngModel)]="user.ending_Year" required/> -->
        <select name="ending" [(ngModel)]="user.ending" required="">
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <br>
      <div class="input-group">
        <label for="percentage">Percentage</label>
        <input type="number" name="percentage" id="percentage" placeholder="Enter percentage of marks"
          [(ngModel)]="user.percentage" required />
      </div>
      <div class="button">
        <a class="btn btn-next width-50 ml-auto" (click)="educationSubmit()" (click)="toogletag()">Add</a>
      </div>
    </div>
      <br>
      <!-- <app-educationcard [profileId]="profileId"></app-educationcard> -->
      <div class="row" *ngIf="foot">
        <app-educationcard></app-educationcard>

        <a [routerLink]="['/languagesocial']" class="btn btn-next width-50 ml-auto">Previous</a>

        <a [routerLink]="['/viewprofile']" class="btn btn-next width-50 ml-auto">Save as Draft</a>

        <a [routerLink]="['/project']" class="btn btn-next width-50 ml-auto">Next</a>

      </div>
    </div>
  </form>
</div>