.Register {   
    margin: 0% 25%;
   padding: 0% 5%;
   border: 1px solid black;
   border-radius: 15px;
   /* background: linear-gradient(to bottom, rgb(207, 102, 231), rgb(255, 255, 255)); */
   background-color: rgba(255, 255, 255, 0.915);
 }
 
 .form-input {
   padding-bottom: 2%;
   font-weight: bold;
 }
 .background-img-register{
   height: 100%;
   padding:75px;
   background-size: cover;
   /* background: linear-gradient(to top, rgb(207, 102, 231), rgb(255, 255, 255)); */
   background-image:url(Interview.jpg);
 }
 .background-img-login{
    height: 100vh;
    padding:10%;
    background-size: cover;
    /* background: linear-gradient(to top, rgb(207, 102, 231), rgb(255, 255, 255)); */
    background-image:url(Interview.jpg);
  }
  .button5
  {
      background: #967bb6;
  }
 .Login{
   margin: 5vh 20vw;
   padding: 1% 5%;
   border: 1px solid black;
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.915);
 
 }
 
 .Login-btn{
   padding-top: 10%;
   padding-bottom: 10%;
   text-align: center;
 }
 .gradient-custom-2 {
   background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
   }


   /* 631 X 834 */
   @media screen and (max-width:800px){
       .Register{
           margin: 0;
           
       }
       .background-img{
        height: 100%;
       }
   }