<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<script src="https://kit.fontawesome.com/968b7ca54c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container d-flex justify-content-center table-box">
    <div class="main"> 
        <div class="middle">
            <div class="people">
                <div class="peoples">
                    <a [routerLink]="['/totalprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/totalprofile']"><h6 >{{dashboard["TotalProfiles"]}}</h6></a>
                    <a [routerLink]="['/totalprofile']"><h6>Total Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/approvedprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/approvedprofile']"><h6>{{dashboard["ApprovedProfiles"]}}</h6></a>
                    <a [routerLink]="['/approvedprofile']"><h6>Approved Profiles</h6></a>
                </div>
                <div class="peoples">
                    <a [routerLink]="['/declinedprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/declinedprofile']"><h6>{{dashboard["RejectedProfiles"]}}</h6></a>
                    <a [routerLink]="['/declinedprofile']"><h6>Declined Profiles</h6></a>
                </div>
                <div class="peoples people-net">
                    <a [routerLink]="['/waitingprofile']"><img src="https://th.bing.com/th/id/R.e7192be3d598c0d78b886416b5f283fd?rik=%2bjRbuY%2bm8lRGOQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_76872.png&ehk=OBe8%2bAnFfNTHx6fd1pn7wUDY%2f4hT%2bHVoWh2tHJpajUo%3d&risl=&pid=ImgRaw&r=0" alt=""></a>
                    <a [routerLink]="['/waitingprofile']"><h6>{{dashboard["WaitingProfiles"]}}</h6></a>
                    <a [routerLink]="['/waitingprofile']"><h6>Waiting Profiles</h6></a>
                </div>
            </div>
        </div>
    </div>
</div> 