* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background: #ffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 8%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 2fr 40fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;

}

.logo h2 {
    color: #967bb6;

}

.search {
    position: relative;
    width: 60%;
    padding-left: 20px;
    padding-top: 10px;
    justify-self: center;
}

.search input {
    width: 150%;
    /* min-width: 128px; */
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
}

.search i {
    /* padding-right:20px ; */
    position: absolute;
    padding-left: 15px;
    /* padding-top:-70px; */
    /* right: 5px; */
    top: 25px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}


.user {
    position: relative;
    width: 50px;
    height: 50px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 70px;
    /* border:8px solid #967bb6; */
}

.profile h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

.profile1 .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #967bb6;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.profile1 .social-links a:hover {
    background: white;
    color: #967bb6;
    text-decoration: none;
}

.profile1 h1 {
    padding-top: 450px;
    font-size: 20px;
}



/* sidebar */

.sidebar {
    position: fixed;
    top: 85px;
    width: 260px;
    height: calc(100% - 60px);
    background: #967bb6;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    background: #fff;
}

.sidebar ul li:hover a {
    color: #967bb6;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.sidebar ul li a p {
    min-width: 60px;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
}


/* main */

.main {
    position: absolute;
    top: 60px;
    min-height: 100vh;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

.filters {
    width: 100%;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.filters .filter {
    padding: 5px 10px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    background-color: #fff;
    border-radius: 10px
        /* box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08);  */
}

.card1 {
    /* width: 100%;
    top:25px; */
    /* padding-top:100px; */
    padding: 30px 20px;
    /* padding-left: 30px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: #fff;
}

.card1 h4 {
    margin-top: 20px;
    padding-right: 650px;
    font-size: 30px;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.kcard {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    width: 12rem;
    margin-left: 20px;
    /* float: left; */
    margin-bottom: 10%;
    /* margin-top: 100px; */
    height: auto;
    border-radius: 10px;
}

.card-img-top {
    height: 100px;
    max-width: 10px;
    clip-path: circle();
}

.fa-square-pen,
.fa-share-nodes,
.fa-download {
    font-size: 25px;
    ;
}

.status {
    padding-top: 40px;
    float: right;
    padding-right: 30px;
    text-align: center;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }

    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:880px) {

    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }

    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .charts {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 50px;
    }

    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }

    .logo h2 {
        font-size: 20px;
    }

    .search {
        width: 80%;
    }

    .search input {
        padding: 0 20px;
    }

    .fa-bell {
        margin-right: 5px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .doughnut-chart {
        padding: 10px;
    }

    #doughnut {
        padding: 0px;
    }

    .user {
        width: 40px;
        height: 40px;
    }
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

/* .kcard {
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    width: 15rem;
    margin-left: 108px;
    float: left;
    margin-top: 100px;
    border-radius: 10px;
} */

.card-img-top {
    height: 100px;
    min-width: 120px;
    clip-path: circle();
}

.fa-share {
    text-indent: 3rem;
    height: 5%;
}

.fa-trash {
    text-indent: 6.5rem;
}

.fa-pencil {
    text-indent: 1rem;
    bottom: 1px;
}

.status {
    padding-top: 40px;
    float: right;
    padding-right: 30px;
    text-align: center;
}

 .pagination {
    position: absolute;
    bottom: 35px;
    /* bottom: %; */
    place-items: center;
    /* margin-left: 40%; */
    /* margin-top: 100%; */
}

.tooltip1 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tooltip1 .tooltip1text {
    /* visibility: hidden; */
    width: 200px;
    background-color: #555;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    border-radius: 9px;
    /* padding: 5px 0; */
    position: absolute;
    /* z-index: 1; */
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.0s;
  }
  
  .tooltip1 .tooltip1text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip1:hover .tooltip1text {
    visibility: visible;
    opacity: 1;
  }
  h2{
    bottom: 2px;
  }