<app-topbar></app-topbar>
<app-hrsidebar></app-hrsidebar>
<div class="container d-flex justify-content-center table-box">
  <form  class="form" style="margin-top:110px;">
    <div class="progressbar">
      <div class="progress" id="progress"></div>
      <div class="form-step form-step-active">
        <h1 style="margin-top: -35px; text-align: center;">User Creation</h1>
        <div class="input-group">
          <label for="personaldetails">Name</label>
          <input type="text" name="Name" [(ngModel)]="Name" id="personaldetails" placeholder="Enter User's name" />
          <!-- <div *ngIf="registerForm.controls['Name'].invalid && registerForm.controls['Name'].touched">
            <span class="text-danger" *ngIf="registerForm.controls['Name'].errors?.['required']">Name is
                required</span>
            <span class="text-danger" *ngIf="registerForm.controls['Name'].errors?.['pattern']">Name should
                contain only characters</span>
        </div>  -->
        </div>
        <div class="input-group">
          <label for="personaldetails">Mail Address</label>
          <input type="email" name="Email" [(ngModel)]="Email" id="personaldetails"
            placeholder="Enter User's mail address" />
            <!-- <div *ngIf="registerForm.controls['Email'].invalid && registerForm.controls['Email'].touched">
              <span class="text-danger" *ngIf="registerForm.controls['Email'].errors?.['required']">Email
                  is
                  required</span>
              <span class="text-danger" *ngIf="registerForm.controls['Email'].errors?.['pattern']">Email
                  should
                  contain only characters</span>
          </div> -->
        </div>
        <div class="input-group">
          <label for="personaldetails">User Name</label>
          <input type="text" name="UserName"[(ngModel)]="UserName" id="personaldetails" placeholder="Enter User's user name" />
          <!-- <div *ngIf="registerForm.controls['UserName'].invalid && registerForm.controls['UserName'].touched">
            <span class="text-danger" *ngIf="registerForm.controls['UserName'].errors?.['required']">UserName
                is
                required</span>
            <span class="text-danger" *ngIf="registerForm.controls['UserName'].errors?.['pattern']">UserName
                should
                contain only characters</span>
        </div> -->
        </div>
        <div class="input-group">
          <label for="personaldetails">Password</label>
          <input type="password" name="Password" [(ngModel)]="Password" id="personaldetails" placeholder="Enter User's password" />
          <!-- <div *ngIf="registerForm.controls['Password'].invalid && registerForm.controls['Password'].touched">
            <span class="text-danger" *ngIf="registerForm.controls['Password'].errors?.['required']">Password
                is
                required</span>
            <span class="text-danger" *ngIf="registerForm.controls['Password'].errors?.['pattern']">Password
                should
                contain only characters</span>
        </div> -->
        </div>
        <div class="x">
          <label for="personaldetails">Gender</label>
          <select id="personaldetails" name="GenderValue" [(ngModel)]="GenderValue">
            <option value="0">Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>
        </div>
        <br>
        <div class="field">
          <div class="label">
            Mobile Number
          </div>
          <div class="mobilenum1">
            <select style="width:5rem" id="personaldetails" name="CountryCodeValue" [(ngModel)]="CountryCodeValue">
              <option value="">Select Country Code</option>
               <option value="1">+91</option>
                   <option value="2">+44</option>
                   <option value="3">+213</option>
                   <option value="4">+1</option>
                   <option value="5">+55</option> 

            </select>
          </div>
          <div class="mobilenum">
            <input type="text" name="MobileNumber" [(ngModel)]="MobileNumber" id="personaldetails" placeholder="Enter User's mobile number">
            <!-- <div *ngIf="registerForm.controls['MobileNumber'].invalid && registerForm.controls['MobileNumber'].touched">
              <span class="text-danger" *ngIf="registerForm.controls['MobileNumber'].errors?.['required']">Mobile Number
                  is
                  required</span>
              <span class="text-danger" *ngIf="registerForm.controls['MobileNumber'].errors?.['pattern']">Mobile Number
                  should
                  contain only integers</span>
          </div> -->
          </div>
        </div>
        <br><br>
        <div class="input-group">
          <label for="personaldetails">Organisation</label>
          <select id="personaldetails" name="OrganisationValue" [(ngModel)]="OrganisationValue">
            <option value="0">Select organisation</option>
            <option *ngFor="let item of organisationValue" value={{item.organisationId}}>{{item.organisationName}}</option>
          </select>
        </div>
        <div class="input-group">
          <label for="personaldetails">Designation</label>
          <select id="personaldetails" name="DesignationValue" [(ngModel)]="DesignationValue">
            <option value="0">Select Designation</option>
            
            <option *ngFor="let item of designationValue" value={{item.designationId}}>
              {{item.designationName}}
            </option>
            <!-- <option value="volvo">PM</option>
                  <option value="saab">TL</option>
                  <option value="fiat">SSE</option> -->
          </select>
        </div>
        <!-- <div class="input-group">
          <label for="personaldetails">Reporting Person</label>
          <input type="text" name="ReportingPerson" [(ngModel)]="ReportingPerson" id="personaldetails"
            placeholder="Enter reporting person's Username" /> -->
            <!-- <div *ngIf="registerForm.controls['ReportingPerson'].invalid && registerForm.controls['ReportingPerson'].touched">
              <span class="text-danger" *ngIf="registerForm.controls['ReportingPerson'].errors?.['required']">Reporting Person UserName
                  is
                  required</span>
              <span class="text-danger" *ngIf="registerForm.controls['ReportingPerson'].errors?.['pattern']">Reporting Person
                  should
                  contain only characters</span>
          </div> -->
        <!-- </div> -->
        <div class="input-group">
          <label for="personaldetails">Reporting Person Username</label>
          <input type="text" name="ReportingPersonUsername" [(ngModel)]="ReportingPersonUsername" id="personaldetails" placeholder="Enter Reporting Person User's name" />
        </div>
        <div class="row btns-group1">         
          <a (click) = "userdata()" class="btn">Submit</a>
        </div>
      </div>
    </div>
  </form>
</div>