:root {
    --primary-color: #967bb6;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Poppins',sans-serif;    margin: 0;
    display: grid;
    /* place-items: center; */
    min-height: 100vh;
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    
  }
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  .extend
  {
    width:100%;
  }
  .twovalue
  {
    display: block;
    width: 1000%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .width-50 {
    width: 30%;
  }
  
  .ml-auto {
    margin-left: auto;
    margin-top: 4%;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* counter-reset: step; */
    margin: 2rem 0 4rem;
  }
  
  /* .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }
  
  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }
  
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  
  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }
   */
  /* Form */
  .form {
    width: 600px;
    /* width: clamp(700px, 50%, 700px); */
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding:3rem;
    height: 1200px;;
  }
  
  .form-step {
    display: none;
    transform-origin: top;
    width: 1000px;
    /* animation: animate 0.5s; */
  }
  
  .form-step-active {
    display: block;
  }
  
  .input-group {
    margin: 2rem 0;
  }
  
  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  /* Button */
  .btns-group {
    width:130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-left: 20%;
   
  }
  .btns-group1 {
    width:150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin-left:40%;
    color:#967bb6;
  }

  
  .btn {
    /* padding: 0.75rem; */
    width: 130px;
    display: block;
    text-decoration: none;
    background-color: #967bb6;
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    /* margin-left: 30px; */
    /* transition: 0.3s; */
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }








  .card{
    padding:5px;background-color: white; border: 1px solid black;width: 10rem;margin-left: 30px;float:left; margin-bottom: 10px; 
    border-radius: 20px;
}
/* .card-img-top{
    height:100px;min-width:150px; clip-path: circle();
} */
.fa-trash{
    text-indent: 3rem;
    margin-top: -20%;
}

.fa-pen
 {
     text-indent:1rem;
 }
.status{
    float:right;
}
.mobilenum{
    float: right;
    width:83%;
}
.mobilenum1{
    float: left;
    /* width:50%; */
    /* height: 80px; */
}