<app-hrsidebar></app-hrsidebar>
<app-topbar></app-topbar>
<div class="container">
    <div class="myCard">
        <div class="row">
            <div class="col-md">
                <div class="myLeftCtn"> 
                    <form class="myForm text-center">
                        <header class="">Change password</header>
                        <div class="form-group py-1 px-3">
                            <i class="fas fa-lock"></i>
                           <input class="myInput" type="password" id="OldPassword" placeholder="Current Password" name="OldPassword" [(ngModel)]="user.OldPassword" required> 
                        </div>

                        <div class="form-group">
                            <i class="fas fa-lock"></i>
                 <input class="myInput" type="password" id="NewPassword" placeholder="New Password" name="NewPassword" [(ngModel)]="user.NewPassword" required> 
                        </div> 

                        <div class="form-group py-1 px-3">
                            <i class="fas fa-lock"></i>
                            <input class="myInput" type="password" id="ConfirmPassword" placeholder="Confirm New Password" name="ConfirmPassword" [(ngModel)]="user.ConfirmPassword" required> 
                        </div>
                        
                        <!-- <div class="form-group">
                            <label>
                                <input id="check_1" name="check_1"  type="checkbox" required><small> I read and agree to Terms & Conditions</small></input> 
                                <div class="invalid-feedback">You must check the box.</div>
                            </label>
                        </div> -->
                        

                        <a (click)="logout()" (click)="onSubmit()" [routerLink]="['']"><input type="button" class="butt ml-3 mb-2" value="CHANGE PASSWORD"></a>
                            

                        
                    </form>
                </div>
            </div> 

           
            
        </div>
    </div>

 </div>