*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body {
    background: #967bb6;
  } 
  .container {
    position:absolute;
    max-width: 800px;
    height: 500px;
    margin-top: auto;
    margin-left: auto;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  } 
  .myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .myRightCtn img{
    width: 100%;
  }
  .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left:0px;
    padding-top: 60px ;
  }
  .myLeftCtn header {
    color: #967bb6;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .row{
  height: 100%;
  } 
  .myCard {
    width: 400px;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 
  .myRightCtn header {
    color: #fff;
    font-size: 44px;
  }
  .box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
   
  
  } 
  .myLeftCtn .myInput {
    width: auto;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: 2px solid gray;
    /* -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7); */
  }
  .myLeftCtn .myInput:focus {
    outline: none;
  } 
  .myForm {
    position: relative;
    margin-top: 50px;
  } 
  .myLeftCtn .butt {
    background:  #967bb6;
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    /* -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7); */
  } 
  .myLeftCtn .butt:hover {
    background: black;
  }
  .myLeftCtn .butt:focus {
    outline: none;
  } 
  .myLeftCtn .fas {
    position: relative;
    color: #967bb6;
    left: 36px;
  } 
  .butt_out {
    background: transparent;
    color: #fff;
    width: 120px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  } 
  .butt_out:hover {
    border: 2px solid #eecbff;
  } 
  .butt_out:focus {
    outline: none;
  }
  .topbar
  {
      position:fixed;
      background:#ffff;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
      width:100%;
      height:6%;
      padding:0 20px;
      display:grid;
       grid-template-columns: 2fr 40fr 0.4fr 1fr; 
      align-items: center;
      z-index: 1;
  }
  .user
  {
      position:relative;
      width:50px;
      height:50px;
  }
  .user img
  {
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      object-fit:cover;
  }
  .logo h2{
      color:#967bb6;
  }
  .sidebar {
      position: fixed;
      top: 60px;
      width: 260px;
      height: calc(100vh - 60px);
      padding: 10px 10px;
      background: #967bb6;
      overflow-x: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      z-index: 2;
  }
  
  .sidebar ul {
      margin-top: 20px;
  }
  
  .sidebar ul li {
      width: 100%;
      list-style: none;
  }
  
  .sidebar ul li:hover,
  .sidebar ul li.active {
      background: #fff;
  }
  
  .sidebar ul li:hover a {
      color: #967bb6;
  }
  
  .sidebar ul li a {
      width: 100%;
      text-decoration: none;
      color: white;
      height: 45px;
      margin: 5px 0px;
      display: flex;
      align-items: center;
  }
  
  .sidebar ul li a i {
      min-width: 60px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
  }
  
  .sidebar ul li a p {
      min-width: 60px;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
  }