* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 50fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}
select{
    float: right;
    background-color: #967bb6;
    color: white;
    border-radius: 5px;
}
img {
    position: relative;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.logo h2 {
    color: #967bb6;
}
.profile img
{
    margin:15px auto;
    display:block;
    width:120px;
    height:120px;
    border-radius: 70px;
    /* border:8px solid #967bb6; */
}
.profile h1{
    font-size:34px;
    color:white;
    margin:0;
    padding:0;
    font-weight: 600;
    -moz-text-align-last:center;
    text-align-last:center;
    font-family:"Poppins",sans-serif;
}
/* .main .search-container {
    float: left;
  }
  
  .main input[type=text] {
    padding: 6px;
    width:900px;
    height:40px;
    margin-left: 3%;
    margin-top: 28px;
    font-size: 17px;
    border: none;
  }
  
  .main .search-container button {
      margin-left: 102%;
      margin-bottom:  20%;
      /* margin-bottom: 10%; */
    /* /* float: right;
    /* padding-left:250px; */
    /* padding: 6px 10px;
    margin-top: 8px;
    margin-right: 5px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer; 
  } 
  
  .main .search-container button:hover {
    background: #ccc;
  } */
  .search {
    position: relative;
    width: 66%;
    padding-left: 20px;
    padding-top:80px;
    justify-self: center;
}
.filtericon
{
      padding-left: 132%;  
     
    
}
.fa-filter::before
{
    font-size: 20px;
    background:#967bb6;;
    padding: 8.1px;
    color:#fff;
    border-radius:2px ;
}
.search input {
    width: 130%;
    /* min-width: 128px; */
    height: 40px;
    /* padding: 0 40px; */
    padding-left:40px; ;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    background:lavender;
}

.search i {
    /* padding-right:20px ; */
    position: absolute;
    padding-left:15px;
    /* padding-top:-70px; */
    /* right: 5px; */
    top: 93px;
    cursor: pointer;
}

.fa-bell {
    justify-self: right;
}

.user {
    position: relative;
    width: 50px;
    height: 50px;
    justify-self: left;
}


/* sidebar */

/* .sidebar {
    position:fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #967bb6;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-left: 0px;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    width: 100%;
    list-style: none;
}
 .sidebar ul li:hover{
    background: #fff;
    color:#299B63;
} 
 .sidebar ul li:hover a {
    color:#967bb6;
}  */
.active 
{
    background: #ffffff;
    color:#299B63;

}
.active a:hover{
    color:black;
}
/* .sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color:white;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
} */


/* main */

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background-color: ;
}
.filters
{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.filters .filter{
     padding: 5px 10px; 
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color:#ffffff; */
     border-radius: 10px
     /* box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08);  */
}

.filter select{
    margin-right: 10px;
    min-width: 170px;
    min-height: 30px;
}

.filter button{
    min-width: 170px;
    min-height: 30px;
}

.card1 {
    width: 100%;
    top:35px;
    /* padding-top:100px; */
    padding: 10px 20px;
    /* padding-left: 30px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: #ffffff;
}
.card1 h4{
    padding-left: 450px;
    font-size: 30px;
}

.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #299B63;
}

.card-name {
    color: #888;
    font-weight: 600;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}


/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.chart h2 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #666;
    text-align: center
}

@media (max-width:1115px) {
    /* .sidebar {
        width: 60px;
    } */
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
    .filters
{
    width: 100%;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
    .cards {
        width: 100%;
        padding: 35px 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .people {
        grid-template-columns: 1fr;
    }
    .people-net {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
    .charts {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 50px;
    }
    #doughnut {
        padding: 50px;
    }
}

@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    .search {
        width: 80%;
    }
    .search input {
        /* padding: 0 20px; */
    }
    .fa-bell {
        margin-right: 5px;
    }
    .people {
        grid-template-columns: 1fr;
    }
    .people-net {
        padding: 10px;
    }
    .filters
    {
        grid-template-columns: 1fr;

    }
    .cards {
        grid-template-columns: 1fr;
    }
    .doughnut-chart {
        padding: 10px;
    }
    #doughnut {
        padding: 0px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
}
.people
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 70%;
    padding: 50px;
    /* padding-left: 50px;
    width: 100%;
    padding: 10px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px; */
}
.people .peoples{
     padding: 5px 10px; 
     /* padding-top: 100px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color:#fff;
     border-radius: 10px */
     /* box-shadow: 0 70px 25px rgba(0, 0, 0, 0.08);  */
}
.people .peoples img{
    /* padding-left:20%; */
    margin-left: 55%;
    width:150px;
    height:150px;
    margin-bottom: 6rem;
    /* border-radius: 60px; */
}
.people .peoples a{
    text-decoration: none;
    color:black;
}
.people .peoples a:hover{
    color:#866ec7;
}

.people .peoples h6{
    font-size:20px;
    margin-left: 40%;
    text-align: center;
    margin-top: 30px;
    /* padding-left: 0px;
    padding-right: 50px; */
}
 #button7
{
    width:20%;
    font-size:100%;
    
    margin-left: 40%;
    /* padding-bottom: 20%; */
    /* margin-bottom:200%; */
} 
/* .middle
{
    margin-top: 30%;
    margin-left:-20%;
}
.home{
    margin-left: -20%;
} */
.middle{
    background: #ffffff;
}
.middler
{
    padding-top: 5%;
}
.filtertext{
    text-align: center;
    color:grey;
    padding-top: 6%;
}
.apply
{
    width: 100px;
    margin-top: 20px;
    /* padding: 20px 20px; */
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 5px;
    /* float:center; */
}


