<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<div class="container d-flex justify-content-center table-box">
    <form [formGroup]="langsocialForm" class="form form-border">

        <div class="progressbar">
            <div class="progress" id="progress"></div>

            <div [routerLink]="['/personal']" class="progress-step " data-title="Personal"></div>
            <div class="progress-step progress-step-active" data-title="Language & Social Media"></div>
            <div [routerLink]="['/education']" class="progress-step " data-title="Education"></div>
            <div [routerLink]="['/project']" class="progress-step " data-title="Project"></div>
            <div [routerLink]="['/skill']" class="progress-step " data-title="Skills"></div>
            <div [routerLink]="['/achievement']" class="progress-step " data-title="Achievements"></div>
        </div>
        <div class="form-step form-step-active">
            <h3>Language & Social Media</h3>
            <table>
                <tr>
                    <td>
                        <label for="course">Languages Known &nbsp;&nbsp;</label>
                    </td>
                    <td> 
                        <button class="plus" (click)="addLanguage()"> + </button>
                    </td>
                </tr>
            </table>
            <input type="text" id="personaldetails" name="languageName" [(ngModel)]="languageDetails.languageName"
                style="border-color: black;" placeholder="Enter your Language" value="{{languageDetails.languageName}}"
                id="LanguagesKnown"
                [class.is-invalid]="(formSubmitted && langsocialForm.controls['LanguageName'].invalid )||langsocialForm.controls['LanguageName'].invalid && langsocialForm.controls['LanguageName'].touched"
                formControlName="LanguageName">
            <div
                *ngIf="(formSubmitted)||langsocialForm.controls['LanguageName'].invalid && langsocialForm.controls['LanguageName'].touched">
                <span class="text-danger" *ngIf="langsocialForm.controls['LanguageName'].errors?.['required']">Language
                    Name is
                    required</span>
                <span class="text-danger" *ngIf="langsocialForm.controls['LanguageName'].errors?.['minlength']">Language
                    Name is
                    too short</span>
                <span class="text-danger" *ngIf="langsocialForm.controls['LanguageName'].errors?.['maxlength']">Language
                    Name is
                    too long</span>
            </div>

            <div class="mt-3 container border bg-body rounded" *ngFor="let item of personalDetails[0]['language']">
                <div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <p>{{item.languageName}}</p>
                            </div>
                            <div class="col-md-1">
                                <button class="btn mrgn1"><i (click)="disableLanguage(item.languageId)"
                                        class="fa fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table>
                <tr>
                    <td>
                        <label for="personaldetails">Social Media &nbsp;&nbsp;</label>
                    </td>
                    <td>
                        <!-- <button class="btn  " style="background-color:#866ec7; border-radius: 500%;">
                            <i (click)="addSocialMedia()" class="fa fa-plus fa-xs"></i></button> -->
                        <button class="plus1" (click)="addSocialMedia()"> + </button>
                    </td>
                </tr>
            </table>
            <label for="personaldetails">Social Media Name</label>
            <input name="socialMedia_Name" type="text" id="personaldetails" placeholder="Enter Social media name"
                [(ngModel)]="socialMedia.socialMedia_Name" required="" style="border-color: black;"
                [class.is-invalid]="(formSubmitted && langsocialForm.controls['SocialMediaName'].invalid )||langsocialForm.controls['SocialMediaName'].invalid && langsocialForm.controls['SocialMediaName'].touched"
                formControlName="SocialMediaName">
            <div
                *ngIf="(formSubmitted)||langsocialForm.controls['SocialMediaName'].invalid && langsocialForm.controls['SocialMediaName'].touched">
                <span class="text-danger" *ngIf="langsocialForm.controls['SocialMediaName'].errors?.['required']">Social
                    Media Name is
                    required</span>
                <span class="text-danger"
                    *ngIf="langsocialForm.controls['SocialMediaName'].errors?.['minlength']">Social Media Name is
                    too short</span>
                <span class="text-danger"
                    *ngIf="langsocialForm.controls['SocialMediaName'].errors?.['maxlength']">Social Media Name is
                    too long</span>
            </div>

            <br>
            <label for="personaldetails">Social Media Link</label>
            <input name="socialMedia_Link" type="text" id="personaldetails" placeholder="Enter Social media link"
                [(ngModel)]="socialMedia.socialMedia_Link" required="" style="border-color: black;"
                [class.is-invalid]="(formSubmitted && langsocialForm.controls['SocialMediaLink'].invalid )||langsocialForm.controls['SocialMediaLink'].invalid && langsocialForm.controls['SocialMediaLink'].touched"
                formControlName="SocialMediaLink">
            <div
                *ngIf="(formSubmitted)||langsocialForm.controls['SocialMediaLink'].invalid && langsocialForm.controls['SocialMediaLink'].touched">
                <span class="text-danger" *ngIf="langsocialForm.controls['SocialMediaLink'].errors?.['required']">Social
                    Media Link is
                    required</span>
                <span class="text-danger"
                    *ngIf="langsocialForm.controls['SocialMediaLink'].errors?.['minlength']">Social Media Link is
                    too short</span>
                <span class="text-danger"
                    *ngIf="langsocialForm.controls['SocialMediaLink'].errors?.['maxlength']">Social Media Link is
                    too long</span>
            </div>

        </div>
        <div class="mt-3 container  border bg-body rounded"
            *ngFor="let item of personalDetails[0]['socialmedia']">
            <div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <div class="col-2">
                                    <p>{{item.socialMedia_Name}}</p>
                                </div>
                                <div class="col-0 wrap">
                                    <p>{{item.socialMedia_Link}}</p>
                                </div>
                                <div class="col-1">
                                    <button (click)="disableSocialMedia(item.socialMedia_Id)" class="btn mrgn"><i
                                            class="fa fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <a [routerLink]="['/editoriginalpersonal']" class="btn btn-next width-50 ml-auto">Previous</a>

            <a [routerLink]="['/viewprofile']" class="btn btn-next width-50 ml-auto">Save as Draft</a>

            <a [routerLink]="['/education']" class="btn btn-next width-50 ml-auto">Next</a>

        </div>
    </form>
</div>