*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(
        45deg,
    );
}
form{
    background-color: #ffffff;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 0px;
    
}

label{
    font-weight: 500;
    color: #101030;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 5px;
    outline: none;
    color: #101010;
}
#password{
    margin-bottom: 30px;
}

input[type="password"]{
    border: 2px solid #c2c2c2;
}
input[type="button"]{
    background-color:#967bb6 ;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 20px;
}
p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: #ffffff;
}
.topbar
{
    position:fixed;
    background:#ffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    width:100%;
    height:8%;
    padding:0 20px;
    display:grid;
     grid-template-columns: 2fr 40fr 0.4fr 1fr; 
    align-items: center;
    z-index: 1;
}
.user
{
    position:relative;
    width:50px;
    height:50px;
}
.user img
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit:cover;
}
.logo h2{
    color:#967bb6;
    font-size:40px;
}
.Change{
    color:#967bb6;
    text-align: center;

}
